{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootcss/bootstrap.css' %}">
</head>
<body>
<div class="container-fluid pr-0 pl-0">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'home' %}">Trello</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-success pt-2 pb-2 mr-1 text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Board
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        </div>
      </li>
      <li class="nav-item active mr-1">
        <a class="btn btn-success" href="{% url 'create_org' %}">New Organization +</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-success" href="#">Invite+</a>
      </li>

    </ul>
      <ul class="navbar-nav">

       <li class="nav-item dropdown pt-0 pb-0 mt-1 mr-3">
        <a class="nav-link  pt-0 pb-0 mt-0   mr-1" href="#"   role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

          {% if user.picture.profile_picture %}
          <li class="nav-item">
              <img  style="border-radius: 50%"  width="50" height="50" src="{{ user.picture.profile_picture.url }}" alt="">

            </li>
          {% endif %}


      </ul>



  </div>
</nav>

<div  class="row mt-5">
    <div class="col-6 offset-3">

    <form class="form-inline" method="post">
        {% csrf_token %}
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Name</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="New Organization name">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Organization</label>
    <input name="org_name" type="text" class="form-control" id="inputPassword2" placeholder="Ex: apple">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Add</button>
</form>

    </div>
</div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>